<!DOCTYPE HTML>
<html>
  <head>
    <title>Metrics Dashboard</title>
    <style>
      h1{
        text-align : center;
      }
      #boarder{
        height: 3px;
        background-color: #2F4F4F;
      }
      #heading{
      }
    </style>
  </head>
  <body bgcolor = #D5DBDB >
    <div id="homeicon">
    </div>
    <div id="heading">
      <h1> A2A Metrics Dashboard</h1>
    </div>
    <div id="boarder"></div>
    <div style="height: 50px">
	</div>
    <div id="table" style="width:800px; margin:0 auto;">
    	<table>
    	<tr>
    		<td><a href="CaptureData.html">Enter the Status</a></td>
    	</tr>
    	<tr>
    		<td><a href="Report.html">Generate Report</a></td>
    	</tr>
   		</table>
	</div>
  </body>
</html>